@font-face {
  font-family: "Inter";
  src: url("/fonts/blinkmacsystemfont-regular.ttf") format("ttf");
  font-display: swap;
}

html {
  font-family: var(--font-base);
  font-size: var(--fs-base);
  color: var(--color-text-black);
}

h1 {
  font-size: var(--fs-xl);
  font-family: var(--font-heading);
  margin: 0 0 0.75rem;
}

p {
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
  white-space: nowrap;
}